body {
  background-color: #EDF0F4 !important;
  color: #222!important;
  font-size: 14px;
  font-family: "Avenir", Helvetica,sans-serif!important;
  padding-top: 50px!important;
}

.navbar, .navbar-inner {
  margin: 0px!important;
  max-width: 100%!important;
  width: 100%!important;
  position: fixed!important;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.04);
  height: 60px;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  /* align-items: center !important; */
  /* justify-content: space-between !important; */
}

.caret {
  border-top-color: #D9E2EC !important;
}

.avatars {
-webkit-clip-path: circle(47% at 50% 50%) !important;
}

a {
  color: #929FAE !important;
  -webkit-transition: color 0.2s;
  -webkit-transition-timing-function: ease-in-out;
}

a:hover {
  color: #4A90E2 !important;
}

.ui-state-active:hover a {
  color: #fff !important;
  cursor:pointer;
}

.userbutton {
  color: #4A90E2 !important;
  font-weight: 500 !important;
}


/* Page Header */
#page-header {
  padding-top: 45px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#page-header h1 {
  font-family: "Avenir", Helvetica,sans-serif!important;
  font-weight: 700!important;
  font-size: 24px!important;
  text-transform: none !important;
  text-shadow: none !important;
  color: #5E6671 !important;
  text-align: center;
}

.logo {
  display: none !important;
}

/* Kurser */
.row-fluid {
  display: flex;
  justify-content: center;
  border-radius: 10px !important;
}

#instance-350694-header {
  display: none !important;
  font-family: "AvenirNext-DemiBold", Helvetica,sans-serif!important;
  font-size: 18px !important;
  color: #4A90E2 !important;
}

.block {
  background: rgba(0,0,0,0);
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.08);
  border-radius: 10px !important;
  padding: 10px !important;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.08) !important;
}

.content {
  padding: 15px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 0;
}

/* #mycoursestextfilter {
  background: #EAEEF1 !important;
  box-shadow: inset 0 1px 2px 0 rgba(39,83,134,0.10) !important;
  border-radius: 100px !important;
  border: none !important;
  padding-left: 10px !important;
  font-family: AvenirNext-DemiBold !important;
  font-size: 10px !important;
  color: #83909A !important;
  text-align: center;
} */

#mycoursestextfilter {
  display: none !important;
}

#mycourses_container {
  margin-top: 17px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  border: none !important;
}

#semester_category_header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 120px;
  padding:10px;

}

#semester_category_header li {
  position: relative;
  border: 0!important;
  /* margin:0; padding:0!important; */
  overflow: hidden;
  text-align: center;
  border: 2px solid #D4DBE4;
  border-radius: 50px !important;
  margin-bottom: 15px !important;
  font-family: AvenirNext-DemiBold !important;
  color: #BEC7CF; */
}

#semester_category_header li::selection {
  /* Rectangle 7: */
  background: #4A90E2 !important;
  box-shadow: 0 2px 7px 0 rgba(74,144,226,0.72) !important;
  border-radius: 5px !important;
  color: #FFFFFF !important;
}

.ui-tabs-active, .ui-state-active {
  /* Rectangle 7: */
background: #4A90E2 !important;
box-shadow: 0 2px 7px 0 rgba(74,144,226,0.72) !important;
border-radius: 5px;
font-family: AvenirNext-DemiBold !important;
font-size: 15px !important;
color: #FFFFFF !important;
}
.ui-tabs-active a, .ui-state-active a {
  color: #FFFFF!important;
}

.ui-tabs, .ui-tabs-anchor {
  padding-top: 10px;
  font-family: AvenirNext-DemiBold !important;
  color: #BEC7CF !important;
}

/* #semester_category_header li:nth-child(1) {
  background: #26C775 !important;
  box-shadow: 0 2px 7px 0 rgba(37,38,38,0.24);
  border-radius: 5px;
  font-family: AvenirNext-DemiBold !important;
  color: #FFF !important;
}

#semester_category_header li:nth-child(2) {
  background: #26C775 !important;
  box-shadow: 0 2px 7px 0 rgba(37,38,38,0.24);
  border-radius: 5px;
  font-family: AvenirNext-DemiBold !important;
  color: #fff !important;
} */

/* .tabswrapper{
  display: block;
  position: relative;
  height: 40px;
  margin:0; padding:0!important;
  margin-top: 45px!important;
  left: 50%;
  width: 800px;
  margin-left: -300px;
} */


#semester_category_header li a {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.semester_category {

  width: 100% !important;
  border: none !important;
  margin:0 auto!important;
  padding:0!important;
}

.coursebox {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: column !important;
  padding-top:20px!important;
  padding-bottom:20px!important;
  text-indent: 0!important;
  text-overflow: ellipsis!important;
  white-space: wrap!important;
  overflow: visible!important;
  padding: 10px;
  float: left;
  width: 100%;
  border-radius: 8px !important;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.18) !important;
}

.teacher_info {
  margin:0!important;
  padding:0!important;
  text-indent: 0!important;
  text-overflow: ellipsis!important;
  white-space: wrap!important;
  overflow: hidden!important;
}

.box.coursebox {
  box-sizing: border-box!important;
  border: 0;
  border-bottom: 0;
  padding-bottom: 0!important;
  padding-top: 0!important;
  /* margin: 20px; */
  padding: 20px!important;
  box-shadow: 0 0px 3px rgba(50,50,93,.15);
  border-radius: 10px;
  float:left!important;
  height:180px!important;
  background:#fff;
  margin: 20px!important;
  width: 260px!important;
  cursor: pointer;
}

/* Fjerner ting */
.span3.desktop-first-column.block-region, .block_mnet_hosts-lock-list_block{
  display:none !important;
}

.header {
  display: none !important;
}

#page-navbar{
  display:none;
}

.almaincontent {
  padding-top: 0px!important;
  background: none!important;
}

.fixedbackground {
  display: none;
}


.block_action {
  display: none !important;
}
